# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
package-lock.*

# TypeScript cache
*.tsbuildinfo

# dotenv environment variable files
server/.env
.env
.env.*
!.env.example

# Build output
server/dist
dist
